.projectList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.projectItem {
  background-color: #015249;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #e0e0e0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-x: hidden;
}

.projectItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background-color: #015249;
}

.projectItem h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #2c3e50; /* Dark blue-gray text */
}

.projectItem p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}
